.mainTitle {
    text-align: center;
    font-size: 55px;
    color: white;
}

.mainTitleMiddle {
    text-align: center;
    color: black;
    font-size: 35px;
}


.top {
    background-color: #3c99dc;
}

.middle {
    background-color: #d5f3fe;
}

.tournamentCards {
    background-color: #d5f3fe;
    justify-content: center;
    align-items: center;
}

.btnCreateTournament {
    background-color: #343a40;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    border-radius: 1.5rem;
}

.linkContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnForm {
    align-items: center;
    justify-content: center;
}

body {
    font-family: sans-serif;
}
