.mainTitle {
    font-size: 4rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
    background-image: url("../images/Tennis.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.right {
    right: 0;
    background-image: url("../images/Football.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

    .centered img {
        width: 150px;
        border-radius: 50%;
    }


.split.left,
.split.right,
.split.left:before,
.split.right:before {
    transition: var(--speed) all ease-in-out;
}

/* Mouse Hover Left */

.hover-left .left {
    width: var(--hover-width);
}

.hover-left .right {
    width: var(--other-width);
}

    .hover-left .right:before {
        /* Fade right side */
        z-index: 2;
    }

/* Mouse Hover Right */
.hover-right .left {
    width: var(--other-width);
}

.hover-right .right {
    width: var(--hover-width);
}

.hover-right .left:before {
    /* Fade left side */
    z-index: 2;
}


@media only screen and (max-width: 800px) {
    h1 {
        font-size: 2rem;
    }

    .button {
        width: 12rem;
    }
}

@media(max-height: 700px) {
    .button {
        top: 70%;
    }
}

