body {
    font-size: 18px;
}

nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #2a2b2dff;
}

li {
    float: left;
    margin: 10px;
}

    li link {
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }

        li link:hover {
            background-color: #111;
        }

